@*@model IEnumerable<BookModel>*@

<div class="container">
    <h3 class="display-4">All Books</h3>
    <hr/>
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_bookThumbnail" model="@item" /> @*@item data pass to partial view model*@
        }
    </div>
</div>

