
@{
    ViewData["Title"] = "index";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<h1>index</h1>
<div class="container">
    <img class="img-thumbnail" src="~/images/Report2-3.jpg" />
</div>